

body{
    background-color:#11FF11;
    /* color:white; */
}

#block1{
    border:2px solid black;
}

head{
    margin:auto;
}
nav>li{
    list-style: none;
    display:inline;
    float:left;
}
a{
    text-decoration: none;
    color:white;
    display:block;
}